<!-- ===== SOUND FILES (Point 4) ===== -->
<audio id="audio-bg" src="assets/sounds/sound.mp3" loop preload="auto"></audio>
<audio id="audio-touch" src="assets/sounds/touch.mp3" preload="auto"></audio>
<audio id="audio-withdrawal" src="assets/sounds/withdrawal.mp3" preload="auto"></audio>
<audio id="audio-notification" src="assets/sounds/notification.mp3" preload="auto"></audio>
<audio id="audio-settings" src="assets/sounds/Setting.mp3" preload="auto"></audio>
<audio id="audio-clear" src="assets/sounds/clear.mp3" preload="auto"></audio>
