<!-- NOTICE POPUP -->
<div id="modal-notice" class="modal-wrap">
    <div class="modal-overlay" onclick="ui.closeModal()"></div>
    <div class="modal-sheet">
        <div class="notice-icon-box"><i class="fa-solid fa-bullhorn"></i></div>
        <h3 style="margin-bottom:10px; font-weight:800; font-size:1.4rem;">Announcement</h3>
        <p id="notice-text" class="text-muted" style="line-height:1.6; margin-bottom:25px;">Welcome to FF Cash Battle!</p>
        <button class="btn-main" onclick="ui.closeModal()" style="padding:12px; border-radius:50px; box-shadow:none;">Okay, Got it</button>
    </div>
</div>
